@page "/almacenes/editar/{Id:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<h3>Edit</h3>
<AlmacenData ButtonText="Update" almacen="almacen" OnValidSubmit="@EditarAlmacen" />
@code {
    [Parameter] public int Id { get; set; }
    Almacen almacen = new Almacen();
    protected async override Task OnParametersSetAsync()
    {
        almacen = await http.GetFromJsonAsync<Almacen>($"api/Almacenes/{Id}");
    }
    async Task EditarAlmacen()
    {
        await http.PutAsJsonAsync("api/Almacenes", almacen);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("almacenes");
    }
 }