@page "/almacenes/nuevo"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Creando Almacén</h3>
<AlmacenData ButtonText="Nuevo" almacen="@almacen" OnValidSubmit="@NuevoAlmacen" />
@code {
    Almacen almacen = new Almacen();
    async Task NuevoAlmacen()
    {
        await http.PostAsJsonAsync("api/Almacenes", almacen);
        uriHelper.NavigateTo("almacenes");
    }
}